<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/signup_t3_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <p>Bank Account Details
  </p>
  <p>&nbsp;</p>
  <table  border="1">
    <tr>
      <td>Account Holder Name</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>IFSC CODE</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>BANK ACCOUNT NUMBER</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
     
    </tr>
    <tr>
      <td>RE ENTER BANK ACCOUNT NUMBER</td>
      <td><label for="textfield">
        <input type="text" name="textfield3" id="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">ACCOUNT TYPE</div></td>
    </tr>
    <tr>
      <table  border="1">
    <tr>
    <td><div align="center">ACCOUNT TYPE</div></td>
  </tr>
  <tr>
    <td><select name="select2" id="select2">
      <option value="CURRENT" selected="selected">SELECT</option>
      <option value="CURRENT">CURRENT</option>
      <option value="SAVINGS">SAVINGS</option>
    </select></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <p>UPLOAD DOCUMENTS</p>
  <p>&nbsp;</p>
  <table  border="1">
    <tr>
      <td colspan="2">SIGNATURE</td>
    </tr>
    <tr>
      <td><img src="../../Photos/360_F_429547_YJTlwk2Ld5kYDAbtCUwFgzmatgUHEg.jpg" width="386" height="257" align="middle" /></td>
      <td>SIGN ON A WHITE PAPER TAKE A PICTURE 
      AND UPLOAD MAKE SURE THE PICTURE IS NOT BLUR</td>
    </tr>
    <tr>
      <td colspan="2"><label for="fileField"></label>
        <div align="center">
          <input type="file" name="fileField" id="fileField" />
      </div></td>
      
    </tr>
    <td colspan="2" ><input type="submit" name="button" id="button" value="Submit" /></td>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>
