<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Trade chain</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Corporation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>

	<!--//tags -->

	<!-- FlexSlider css -->
		<link rel="stylesheet" href="/static/home/css/flexslider.css" type="text/css" media="screen" />
	<!-- //FlexSlider css -->

	<link href="/static/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/home/css/style.css" rel="stylesheet" type="text/css" media="all" />

	<!-- for bootstrap carousel slider -->
	<link rel="stylesheet" href="/static/home/css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/home/css/owl.theme.css" type="text/css" media="all">
	<!-- //for bootstrap carousel slider -->

	<!-- fontawesome icons  -->
	<link href="/static/home/css/font-awesome.css" rel="stylesheet">

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->

</head>

<body>

<div class="header">
	<div class="agileits_top_menu" style="font-size:80%;">
        <div class="container">
            <div class="text-center" style="color: white">
{#		<div class="container">#}
{#			<div class="center-block"  style="color: white">#}
{#				<ul>#}
	                <h3  style="font-family:Mistral;">AN INVESTMENT IN KNOWLEDGE PAYS THE BEST INTEREST</h3>
{#					<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>#}
{#					<li><i class="fa fa-map-marker" aria-hidden="true"></i> 3241 USA, New York City</li>#}
{#				</ul>#}
			</div>
{#			<div class="w3l_header_right">#}
{#				<div class="w3ls-social-icons text-left">#}
{#
{#					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>#}
{#					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>#}
{#					<a class="login" href="#" data-toggle="modal" data-target="#myModal1">Login</a>#}
{#				</div>#}
{#			</div>#}
{#			<div class="clearfix"> </div>#}
		</div>
	</div>
	<div class="content white agile-info">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
					<a class="navbar-brand" href="#">
						<h1>TRADE CHAIN</h1>
					</a>
				</div>
				<!--/.navbar-header-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/c_home">Home</a></li>
                            <li class="dropdown">
{#								<a href="#" class="dropdown-toggle" data-toggle="dropdown">COMPANY<b class="caret"></b></a>#}
{#								<ul class="dropdown-menu">#}
{#									<li><a href="/company_list">view company</a></li>#}
{#									<li><a href="/approved_list">Approved Companies</a></li>#}
{#                                    <li><a href="/rejected_list">Rejected Companies</a></li>#}
{##}
{#								</ul>#}
{#							</li>#}
							<li><a href="/view_profile#ab">VIEW PROFILE</a></li>
                            <li><a href="/view_trader#ab">VIEW TRADER</a></li>
                            <li><a href="/company_view_transaction#ab">VIEW ORDERS</a></li>
							<li><a href="/logout">LOGOUT</a></li>



{#                            <li><a href=</a></li>#}
{#                            <li><a href=</a></li>#}
{#                            <li><a href=</a></li>#}
{#                            <li><a href=</a></li>#}
{#							<li class="dropdown">#}
{#								<a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHERS<b class="caret"></b></a>#}
{#								<ul class="dropdown-menu">#}
{#									<li><a href="/feedback">view feedback</a></li>#}
{#									<li><a href="/complaints">view complaints</a></li>#}
{#                                    <li><a href="/">LOGOUT</a></li>#}
{#								</ul>#}
{#							</li>#}
{##}
{##}
{#						</ul>#}
					</nav>
				</div>
				<!--/.navbar-collapse-->
				<!--/.navbar-->
			</div>
		</nav>
	</div>
</div>
<!-- //header -->

<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		<li data-target="#myCarousel" data-slide-to="4" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<div class="col-md-6 banner_left">
						<h3>Portfolio Management and Trading</h3>
					</div>
					<div class="col-md-6 banner_right">
						<p>Portfolio management and trading involve strategically managing investment portfolios to optimize returns and manage risks. This includes asset selection, diversification, performance monitoring, and executing trades. Traders actively buy and sell securities to take advantage of market opportunities and align with investment objectives. The goal is to achieve financial objectives by effectively managing and trading within the portfolio.</p>
						<div class="agileits-button top_ban_agile">
{#							<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>#}
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption text-center">
					<h3>FFuture Development and RoadMaps</h3>
					<p>Future development in trade involves adopting new technologies, improving user experience, expanding trading options, and enhancing risk management. It also includes compliance with regulations, global market access, mobile trading, social trading, and educational resources. These advancements aim to provide traders with innovative tools, better insights, and improved trading experiences.</p>
					<div class="agileits-button top_ban_agile">
{#						<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>#}
					</div>
				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">
					<h3>Discovering new strategies in trade</h3>
					<p>Traders and investors constantly seek to discover new strategies to gain a competitive edge in the market and improve their trading performance. This process often involves conducting research, analyzing historical data, backtesting strategies, and incorporating new insights or technologies. The aim is to identify unique trading approaches that align with market conditions and capitalize on emerging opportunities.</p>
					<div class="agileits-button top_ban_agile">
{#						<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>#}
					</div>
				</div>
			</div>
		</div>
		<div class="item item4">
			<div class="container">
				<div class="carousel-caption text-right">
					<h3>Strength Strategy  <span>Solutions.</span></h3>
					<p>sagittis quis turpis vel, facilisis posuere erat. Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Pellentesque blandit egestas risus, in porttitor mi sagittis sed. Vestibulum vestibulum quis metus vitae tincidunt. </p>
					<div class="agileits-button top_ban_agile">
						<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item item5">
			<div class="container">
				<div class="carousel-caption">
					<h3>Support Management  <span>Service.</span></h3>
					<p>sagittis quis turpis vel, facilisis posuere erat. Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Pellentesque blandit egestas risus, in porttitor mi sagittis sed. Vestibulum vestibulum quis metus vitae tincidunt. </p>
					<div class="agileits-button top_ban_agile">
						<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="fa fa-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="fa fa-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	<!-- The Modal -->
</div>
<!-- //banner -->

<!-- banner bottom -->
<div class="welcome" id="ab">
	<div class="container" style="overflow: auto">

{#		<div class="col-md-6 welcome_left">#}
{#			<div class="layer1">#}
{#				<div class="welcome_left_info">#}
{#					<h3>We offer best services</h3>#}
{#					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>#}
{#					<div class="read">#}
{#						<a href="about.html">Read more »</a>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-6 welcome_right">#}
{#			<div class="inner_grid1">#}
{#				<div class="col-md-2 icon color1">#}
{#					<span class="fa fa-file-o" aria-hidden="true"></span>#}
{#				</div>#}
{#				<div class="col-md-10 grid_info">#}
{#					<h3>Financial Executive</h3>#}
{#					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>#}
{#				</div>#}
{#				<div class="clearfix"></div>#}
{#			</div>#}
{#			<div class="inner_grid1">#}
{#				<div class="col-md-2 icon color2">#}
{#					<span class="fa fa-diamond" aria-hidden="true"></span>#}
{#				</div>#}
{#				<div class="col-md-10 grid_info">#}
{#					<h3>Management System</h3>#}
{#					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>#}
{#				</div>#}
{#				<div class="clearfix"></div>#}
{#			</div>#}
{#			<div class="inner_grid1">#}
{#				<div class="col-md-2 icon color3">#}
{#					<span class="fa fa-line-chart" aria-hidden="true"></span>#}
{#				</div>#}
{#				<div class="col-md-10 grid_info">#}
{#					<h3>Business Analytics</h3>#}
{#					<p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam malesuada tellus quis posuere eleifend. Donec varius nisi at</p>#}
{#				</div>#}
{#				<div class="clearfix"></div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="clearfix"></div>#}
	</div>
</div>
<!-- //banner bottom -->

<!-- Team -->
<div class="team" id="team">
	<h3 class="heading">Unlisted Stocks</h3>
	<div class="container">
		<div class="flexslider-info">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l-info1">
								<div class="col-md-6">
									<div class="col-md-5 team-grid-1">
										<img src="/static/home/images/CIAL.png" alt="" />
									</div>
									<div class="col-md-7 team-grid-2">
										<h4>Cochin International Airport </h4>
										<h5>Transportation & Logistics</h5>
										<p>Cochin International Airport is the first greenfield airport in the country built with public-private partnerships.
                                            Planned and constructed from scratch, the airport has been acclaimed for setting a novel idea in infrastructure development.</p>
										<div class="w3ls-social-icons text-left">
{#											<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>#}
											<a href="https://twitter.com/kochiairport"><i class="fa fa-twitter"></i></a>
{#											<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>#}
											<a  href="https://www.linkedin.com/company/cochin-international-airport-ltd./?originalSubdomain=in"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-6">
									<div class="col-md-5 team-grid-1">
										<img src="/static/home/images/OYO%20logo.png" , alt="" />
									</div>
									<div class="col-md-7 team-grid-2">
										<h4>Oravel Stays (OYO Rooms)</h4>
										<h5>Leisure Facilities & Services</h5>
										<p>Established in 2013, OYO (Oravel Stays Limited) was founded with a vision to revolutionize the hospitality industry.
                                            Today, OYO stands as a leading tech hospitality chain in the world, known for its phenomenal growth and commitment
                                            to affordable, trustworthy, and easy-to-book accommodations. </p>
										<div class="w3ls-social-icons text-left">
{#											<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>#}
											<a class="twitter" href="https://twitter.com/oyoroom"><i class="fa fa-twitter"></i></a>
{#											<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>#}
											<a class="linkedin" href="https://www.linkedin.com/company/oyo-rooms/?originalSubdomain=in"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
									<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="w3l-info1">
								<div class="col-md-6">
									<div class="col-md-5 team-grid-1">
										<img src="/static/home/images/reliance.jpg" alt="" />
									</div>
									<div class="col-md-7 team-grid-2">
										<h4>Reliance Retail</h4>
										<h5>Retail</h5>
										<p>Incorporated in 2006, Reliance Retail Limited (hereinafter referred to as “Reliance Retail” ) has been ranked as the fastest growing
                                            retailer in the world. Its growth over the years  has triggered a large socio-economic transformation on an extraordinary scale in India.</p>
										<div class="w3ls-social-icons text-left">
{#											<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>#}
											<a class="twitter" href="https://twitter.com/RILretail"><i class="fa fa-twitter"></i></a>
{#											<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>#}
											<a class="linkedin" href="https://in.linkedin.com/company/reliance-retail"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-6">
									<div class="col-md-5 team-grid-1">
										<img src="/static/home/images/pharmeasy.jpg" alt="" />
									</div>
									<div class="col-md-7 team-grid-2">
										<h4>PharmEasy (API Holdings Ltd) </h4>
										<h5>Pharma</h5>
										<p>API Holdings holds the distinction of being India's largest digital healthcare platform based on the Gross
                                            Merchandise Value (GMV) of its products and services sold during the fiscal year ending on March 31, 2021.</p>
										<div class="w3ls-social-icons text-left">
{#											<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>#}
											<a class="twitter" href="https://twitter.com/pharmeasyapp"><i class="fa fa-twitter"></i></a>
{#											<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>#}
											<a class="linkedin" href="https://www.linkedin.com/company/pharmeasy/?originalSubdomain=in"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
									<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="w3l-info1">
								<div class="col-md-6">
									<div class="col-md-5 team-grid-1">
										<img src="/static/home/images/csk.jpg" alt=""  />
									</div>
									<div class="col-md-7 team-grid-2">
										<h4>Chennai Super Kings</h4>
										<h5>Sports</h5>
										<p>The company owns and operates the cricket team IPL franchisee Chennai Super Kings and
                                            the sales of its merchandise. Chennai Super Kings is one of the most prized franchise
                                            of the IPL with an estimated brand value of $1.15 Bn in FY22, Forbes.</p>
										<div class="w3ls-social-icons text-left">
{#											<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>#}
											<a class="twitter" href="https://twitter.com/ChennaiIPL"><i class="fa fa-twitter"></i></a>
{#											<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>#}
											<a class="linkedin" href="https://www.linkedin.com/company/chennaiipl/?originalSubdomain=in"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="col-md-6">
									<div class="col-md-5 team-grid-1">
										<img src="/static/home/images/philips1.jpg" alt=""  />
									</div>
									<div class="col-md-7 team-grid-2">
										<h4>Philips India</h4>
										<h5>Health Technology</h5>
										<p>Philips India is a leading hi-tech company doing business in the field of healthcare system and personal healthcare.
                                            The Company also has a healthcare innovation centre at Pune and innovation campus at Bangalore.</p>
										<div class="w3ls-social-icons text-left">
{#											<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>#}
											<a class="twitter" href="https://twitter.com/philipsindia"><i class="fa fa-twitter"></i></a>
{#											<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>#}
											<a class="linkedin" href="https://in.linkedin.com/company/philips"><i class="fa fa-linkedin"></i></a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- //Team -->

<!-- Services -->
<div class="services" id="services">
	<h3 class="heading">SERVICES</h3>
	<div class="container-fluid">
		<div class="services_grids">
			<div class="col-md-3 ser_grid1">
				<img src="/static/home/images/service1.jpg" alt="service1" />
				<div class="ser_info">
					<i class="fa icon fa-suitcase"></i>
					<h4> Acess to unlisted stocks</h4>
{#					<i class="fa fa-plus"></i>#}
					<div class="clearfix"></div>
				</div>
				<p>investit offers a diverse range of investment opportunities in private companies operating across various sectors such as banking, financial services,
                    e-commerce, technology, manufacturing, real estate, insurance, stock exchanges, and more, in both Indian and international markets.</p>
			</div>
			<div class="col-md-3 ser_grid1">
				<img src="/static/home/images/service2.jpg" alt="service1" />
				<div class="ser_info">
					<i class="fa icon fa-money"></i>
					<h4> Selective investments </h4>
{#					<i class="fa fa-plus"></i>#}
					<div class="clearfix"></div>
				</div>
				<p>In addition to the curated investments on our platform and the stock-specific research reports available, we also provide our clients with personalized
                    investment recommendations tailored to their individual financial goals and risk preferences.</p>
			</div>
			<div class="col-md-3 ser_grid1">
				<img src="/static/home/images/service3.jpg" alt="service1" />
				<div class="ser_info">
					<i class="fa icon fa-cogs"></i>
					<h4> Guided process </h4>
{#					<i class="fa fa-plus"></i>#}
					<div class="clearfix"></div>
				</div>
				<p>We offer a comprehensive solution to help you navigate the intricate process of purchasing and selling unlisted financial products on our platform.
                    Our team is always ready to assist you every step of the way, ensuring that your transactions are executed seamlessly and efficiently.
                    Whether you're a seasoned investor or new to the market, we provide the support you need to make informed decisions and achieve your financial objectives.</p>
			</div>
			<div class="col-md-3 ser_grid1">
				<img src="/static/home/images/service4.jpg" alt="service1" />
				<div class="ser_info">
					<i class="fa icon fa-users"></i>
					<h4> Liquidity </h4>
{#					<i class="fa fa-plus"></i>#}
					<div class="clearfix"></div>
				</div>
				<p>we have established a strong presence in both Indian and global markets. Our clients span across institutional, high net worth, and retail categories,
                    enabling us to offer a diverse range of investment opportunities to suit a variety of needs and preferences.</p>
			</div>
			<div class="clearfix"> </div>
{#			<div class="ser_all">#}
{#				<a href="services.html">Show all services</a>#}
{#			</div>#}
		</div>
	</div>
</div>
<!-- //Services -->

<!-- testimonials free consulting -->
{#<div class="test_consultant">#}
{#	<div class="container">#}
{#		<!-- Testimonials Slider-->#}
{#		<div class="slider col-md-6">#}
{#			<h3 class="heading">Happy Clients</h3>#}
{#				<div class="callbacks_container">#}
{#					<ul class="rslides callbacks callbacks1" id="slider4">#}
{#						<li>#}
{#							<div class="testimonial">#}
{#								<div class="col-md-3 test_img">#}
{#									<img src="/static/home/images/team1.jpg" alt="client1" />#}
{#								</div>#}
{#								<div class="col-md-9 test_info">#}
{#									<h4>Laura Elisa</h4>#}
{#									<h5>designation</h5>#}
{#									<ul class="rating">#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star-half-o" aria-hidden="true"></span></li>#}
{#									</ul>#}
{#								</div>#}
{#								<div class="clearfix"></div>#}
{#								<p>Donec bibendum molestie cursus. Integer ex enim, sollicitudin quisi mauris pellentesque ac in, dignissim. Vestibulum vel consequateros, a fermentum risus. Phasellus volutpat, dolor laoreet condim entum eleifend, justo turpis euismod neque, sit amet bibendum libero nisl id orci. Proin sodales cursus eros vel auctor. </p>#}
{#							</div>#}
{#						</li>#}
{#						<li>#}
{#							<div class="testimonial">#}
{#								<div class="col-md-3 test_img">#}
{#									<img src="/static/home/images/team2.jpg" alt="client1" />#}
{#								</div>#}
{#								<div class="col-md-9 test_info">#}
{#									<h4>Isabella</h4>#}
{#									<h5>designation</h5>#}
{#									<ul class="rating">#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star-half-o" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star-o" aria-hidden="true"></span></li>#}
{#									</ul>#}
{#								</div>#}
{#								<div class="clearfix"></div>#}
{#								<p>Donec bibendum molestie cursus. Integer ex enim, sollicitudin quisi mauris pellentesque ac in, dignissim. Vestibulum vel consequateros, a fermentum risus. Phasellus volutpat, dolor laoreet condim entum eleifend, justo turpis euismod neque, sit amet bibendum libero nisl id orci. Proin sodales cursus eros vel auctor. </p>#}
{#							</div>#}
{#						</li>#}
{#						<li>#}
{#							<div class="testimonial">#}
{#								<div class="col-md-3 test_img">#}
{#									<img src="/static/home/images/team3.jpg" alt="client1" />#}
{#								</div>#}
{#								<div class="col-md-9 test_info">#}
{#									<h4>Johnson</h4>#}
{#									<h5>designation</h5>#}
{#									<ul class="rating">#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star" aria-hidden="true"></span></li>#}
{#										<li><span class="fa fa-star-o" aria-hidden="true"></span></li>#}
{#									</ul>#}
{#								</div>#}
{#								<div class="clearfix"></div>#}
{#								<p>Donec bibendum molestie cursus. Integer ex enim, sollicitudin quisi mauris pellentesque ac in, dignissim. Vestibulum vel consequateros, a fermentum risus. Phasellus volutpat, dolor laoreet condim entum eleifend, justo turpis euismod neque, sit amet bibendum libero nisl id orci. Proin sodales cursus eros vel auctor. </p>#}
{#							</div>#}
{#						</li>#}
{#					</ul>#}
{#		<div class="clearfix"> </div>#}
{#				</div>#}
{#		</div>#}
{#		<!-- //Testimonials Slider-->#}
{#		#}
{#		<!-- Free consulting -->#}
{#		<div class="consulting col-md-6">#}
{#			<h3 class="heading">Free consulting</h3>#}
{#			<div class="wthree-contact-form">#}
{#				<form action="#" method="post">#}
{#					<input type="text" name="Name" placeholder="Name" required="">#}
{#					<input type="email" class="email" name="Email" placeholder="Email" required="">#}
{#					<div class="clearfix"></div>#}
{#					<input type="text" class="number" name="number" placeholder="Phone Number" required="">#}
{#					<textarea name="Message" placeholder="Message" required=""></textarea>#}
{#					<input type="submit" value="SUBMIT">#}
{#				</form>#}
{#			</div>#}
{#		</div>#}
{#		<!-- //Free consulting -->#}
{#		<div class="clearfix"> </div>#}
{#	</div>#}
{#</div>#}
{#<!-- testimonials free consulting -->#}
{##}
{#<!-- counter -->#}
{#<div class="services-bottom stats">#}
{#	<div class="banner-dott1">#}
{#		<div class="container">#}
{#			<h3 class="heading">Our Statistics</h3>#}
{#		  <div class="wthree-agile-counter">#}
{#		  <div class="col-md-3 w3_agile_stats_grid-top">#}
{#			<div class="w3_agile_stats_grid">#}
{#				<div class="agile_count_grid_left">#}
{#				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>#}
{#				</div>#}
{#				<div class="agile_count_grid_right">#}
{#					<p class="counter">324</p> #}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#				<h4>Best clients</h4>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-3 w3_agile_stats_grid-top">#}
{#			<div class="w3_agile_stats_grid">#}
{#				<div class="agile_count_grid_left">#}
{#					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>#}
{#				</div>#}
{#				<div class="agile_count_grid_right">#}
{#					<p class="counter">543</p> #}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#				<h4>Happy Customers</h4>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-3 w3_agile_stats_grid-top">#}
{#			<div class="w3_agile_stats_grid">#}
{#				<div class="agile_count_grid_left">#}
{#					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>#}
{#				</div>#}
{#				<div class="agile_count_grid_right">#}
{#					<p class="counter">434</p> #}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#				<h4>Projects Worked</h4>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-3 w3_agile_stats_grid-top">#}
{#			<div class="w3_agile_stats_grid">#}
{#				<div class="agile_count_grid_left">#}
{#					<span class="fa fa-trophy" aria-hidden="true"></span>#}
{#				</div>#}
{#				<div class="agile_count_grid_right">#}
{#					<p class="counter">234</p> #}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#				<h4>Winning Awards</h4>#}
{#			</div>#}
{#		</div>#}
{#			<div class="clearfix"> </div>#}
{#		</div>#}
{#	</div>#}
{#	</div>#}
{#</div>#}
{#<!-- //counter -->#}
{##}
{#<!-- /newsletter-->#}
{#<div class="newsletter_w3layouts_agile">#}
{#	<div class="col-sm-6 newsleft">#}
{#		<h3>Sign up for Newsletter !</h3>#}
{#	</div>#}
{#	<div class="col-sm-6 newsright">#}
{#		<form action="#" method="post">#}
{#			<input type="email" placeholder="Enter your email..." name="email" required="">#}
{#			<input type="submit" value="Submit">#}
{#		</form>#}
{#	</div>#}
{#	<div class="clearfix"></div>#}
{#</div>#}
{#<!-- //newsletter-->#}
{##}
{#<!-- footer -->#}
{#<div class="footer_top_agileits">#}
{#	<div class="container-fluid">#}
{#		<div class="col-md-3 footer_grid">#}
{#			<h3>About Us</h3>#}
{#			<p>Sagittis quis turpis vel, facilisis posuere erat. Nulla facilisi. Proin vel commodo leo. Ut mauris tortor, cursus ut massa vitae, iaculis vehicula turpis. Nam libero tempore cum vulputate id posuere erat.</p>#}
{#			<div class="read">#}
{#				<a href="about.html">Read more »</a>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-3 footer_grid">#}
{#			<h3>Latest News</h3>#}
{#			<ul class="footer_grid_list">#}
{#				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>#}
{#					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>#}
{#				</li>#}
{#				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>#}
{#					<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>#}
{#				</li>#}
{#				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>#}
{#					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>#}
{#				</li>#}
{#				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>#}
{#					<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>#}
{#				</li>#}
{#				<li><i class="fa fa-chevron-right" aria-hidden="true"></i>#}
{#					<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>#}
{#				</li>#}
{#			</ul>#}
{#		</div>#}
{#		<div class="col-md-3 footer_grid">#}
{#			<h3>Contact Info</h3>#}
{#			<ul class="address">#}
{#				<li><i class="fa fa-map-marker" aria-hidden="true"></i>Mesce Kuttippuram, <span>Kerala.</span></li>#}
{#				<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:investunlisted000@gmail.com">investunlisted000@gmail.com</a></li>#}
{#				<li><i class="fa fa-phone" aria-hidden="true"></i>+91 9946425732</li>#}
{#				<li><i class="fa fa-globe" aria-hidden="true"></i><a href="#">info@website.com</a></li>#}
{#			</ul>#}
{#		</div>#}
{#		<div class="col-md-3 footer-grid_agileits_w3 footer_grid">#}
{#				<h3>Recent Works</h3>#}
{#			<div class="footer-list">#}
{#				<div class="flickr-grid">#}
{#					<a href="#"><img src="/static/home/images/p1.jpg" alt=" " ></a>#}
{#				</div>#}
{#				<div class="flickr-grid">#}
{#					<a href="#"><img src="/static/home/images/p2.jpg" alt=" "></a>#}
{#				</div>#}
{#				<div class="flickr-grid">#}
{#					<a href="#"><img src="/static/home/images/p3.jpg" alt=" " ></a>#}
{#				</div>#}
{#				<div class="flickr-grid">#}
{#					<a href="#"><img src="/static/home/images/p4.jpg" alt=" "></a>#}
{#				</div>#}
{#				<div class="flickr-grid">#}
{#					<a href="#"><img src="/static/home/images/p5.jpg" alt=" "></a>#}
{#				</div>#}
{#				<div class="flickr-grid">#}
{#					<a href="#"><img src="/static/home/images/p6.jpg" alt=" "></a>#}
{#				</div>#}
{#				<div class="flickr-grid">#}
{#					<a href="#"><img src="/static/home/images/p1.jpg" alt=" "></a>#}
{#				</div>#}
{#				<div class="flickr-grid">#}
{#					<a href="#"><img src="/static/home/images/p2.jpg" alt=" "></a>#}
{#				</div>#}
{#				<div class="clearfix"></div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="clearfix"> </div>#}
{#	</div>#}
{#</div>#}
{##}
{#<p>It is important to note that our platform is neither a stock exchange nor an advisory platform. Investing in unlisted products carries inherent risks and may not always deliver#}
{#the anticipated returns, with a possibility of losing the entire capital. The lack of clarity on exit and listing dates, as well as the uncertainty of whether the IPO will happen#}
{#or not, add to the risk. Unlisted shares also go into a lock-in period for six months from the date of allotment in the IPO. Therefore, it is essential to perform your own due#}
{#diligence and seek advice from an independent third-party advisor before making any investment decisions. Our role is to facilitate the process of connecting buyers and sellers#}
{#for illiquid assets through our global network of partners, and we act solely as a referral platform. We urge all users to exercise caution and conduct their own research and#}
{#analysis before entering into any transaction. The information presented on our platform is based on secondary sources and we cannot guarantee its accuracy or reliability.#}
{#    Past performance cannot be considered an accurate indicator of future results.</p>#}
{##}
{##}
{#<div class="footer_w3ls">#}
{#	<div class="container">#}
{#		<div class="footer_bottom1">#}
{#			<p>© 2018 Corporation. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
{#<!-- //footer -->#}
{##}
{#<!-- signin Model -->#}
{#<!-- Modal1 -->#}
{#<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">#}
{#	<div class="modal-dialog">#}
{#		<!-- Modal content-->#}
{#		<div class="modal-content">#}
{#			<div class="modal-header">#}
{#				<button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#			</div>#}
{#			<div class="modal-body modal-body-sub_agile">#}
{#				<div class="main-mailposi">#}
{#					<span class="fa fa-envelope-o" aria-hidden="true"></span>#}
{#				</div>#}
{#				<div class="modal_body_left modal_body_left1">#}
{#					<h3 class="agileinfo_sign">Login To Your Account</h3>#}
{#					<form action="#" method="post">#}
{#						<div class="styled-input agile-styled-input-top">#}
{#							<input type="text" placeholder="User Name" name="Name" required="">#}
{#						</div>#}
{#						<div class="styled-input">#}
{#							<input type="password" placeholder="Password" name="password" required="">#}
{#						</div>#}
{#						<input type="submit" value="Login">#}
{#					</form>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#				<div class="clearfix"></div>#}
{#			</div>#}
{#		</div>#}
{#		<!-- //Modal content-->#}
{#	</div>#}
{#</div>#}
{#<!-- //Modal1 -->#}
{#<!-- //signin Model -->#}
{#	#}
{#<!-- bootstrap-modal-pop-up -->#}
{#<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">#}
{#	<div class="modal-dialog" role="document">#}
{#		<div class="modal-content">#}
{#			<div class="modal-header">#}
{#				INVESTIT#}
{#				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						#}
{#			</div>#}
{#			<div class="modal-body">#}
{#				<img src="/static/home/images/banner1.jpg" alt=" " class="img-responsive" />#}
{#				<p>Ut enim ad minima veniam, quis nostrum #}
{#					exercitationem ullam corporis suscipit laboriosam, #}
{#					nisi ut aliquid ex ea commodi consequatur? Quis autem #}
{#					vel eum iure reprehenderit qui in ea voluptate velit #}
{#					esse quam nihil molestiae consequatur, vel illum qui #}
{#					dolorem eum fugiat quo voluptas nulla pariatur.#}
{#					<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit #}
{#						esse quam nihil molestiae consequatur.</i></p>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
<!-- //bootstrap-modal-pop-up -->

	<!-- js -->
	<script type="text/javascript" src="/static/home/js/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="/static/home/js/bootstrap-3.1.1.min.js"></script>

	<!-- stats -->
	<script src="/static/home/js/jquery.waypoints.min.js"></script>
	<script src="/static/home/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->

	<!-- owl carousel -->
	<script src="/static/home/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({

				autoPlay: 3000, //Set AutoPlay to 3 seconds
				autoPlay: true,
				items: 3,
				itemsDesktop: [991, 2],
				itemsDesktopSmall: [414, 4]

			});
		});
	</script>
	<!-- //owl carousel -->

	<!-- Responsive slider  -->
	<script src="/static/home/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- //Responsive slider  -->

	<!-- Flex slider-script -->
	<script defer src="/static/home/js/jquery.flexslider.js"></script>
		<script type="text/javascript">

		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
	<!-- //Flex slider-script -->

	<!-- start-smooth-scrolling -->
	<script src="/static/home/js/move-top.js"></script>
	<script src="/static/home/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- smooth scrolling js -->
	<script src="/static/home/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling js -->

</body>
</html>