<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>   TRADE CHAIN  </title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all" />

    <!-- fontawesome v5 -->
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

</head>

<body>

    <section class="forms">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a class="brand-logo" href="index.html">TRADE CHAIN</a>
            </div>
            <!-- //logo -->
            <div class="forms-grid">

                <!-- login -->
                <div class="login">
                    <span class="fas fa-sign-in-alt"></span>
                    <strong>Welcome!</strong>
                    <span>Sign in to your account</span>

                    <form action="/login_post" method="post" class="login-form">
                        <fieldset>
                            <div class="form">
                                <div class="form-row">
                                    <span class="fas fa-user"></span>
                                    <label class="form-label" for="input">Username</label>
                                    <input type="text" name="textfield" class="form-text">
                                </div>
                                <div class="form-row">
                                    <span class="fas fa-eye"></span>
                                    <label class="form-label" for="input">Password</label>
                                    <input type="password" name="textfield2" class="form-text">
                                </div>
                                <div class="form-row bottom">
                                    <div class="form-check">
                                        <input type="checkbox" id="remenber" name="remenber" value="remenber">
                                        <label for="remenber"> remember me?</label>
                                    </div>
                                    <a href="/forgotpassword" class="forgot">forgot password?</a>
                                </div>
                                <div class="form-row button-login">
                                    <button class="btn btn-login">Login <span
                                            class="fas fa-arrow-right"></span></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- //login -->

                <!-- register -->
                <div class="register">
                    <span class="fas fa-user-circle"></span>
                    <strong>Sign Up Here!</strong>
                        <fieldset>
                            <div class="form">
                                <div class="form-row button-login">
                                    <a href="/signup_1" class="btn btn-login">Sign Up - Company <span
                                            class="fas fa-arrow-right"></span></button> </a>
                                </div>
                                <div class="form-row button-login">
                                    <a href="/signup_app" class="btn btn-login">Sign Up - Trader <span
                                            class="fas fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </fieldset>


                        <span class="create-account">Or create account using social media!</span>

                        <div class="social-media">
                            <a href="https://twitter.com/tradechainoff" class="tw"><span class="fab fa-twitter"></span></a>

                        </div>
                </div>
                <!-- //register -->
            </div>

            <!-- copyright -->
            <div class="copy-right">
                <p>&copy; All rights reserved

            </div>
            <!-- //copyright -->
        </div>
    </section>

</body>

</html>